@model List<Grimoire.Models.Note.NoteRead>
@{
    ViewData["Title"] = "Note Index";
}

<div>
    <h1>Notes Library</h1>
    <table class="table table-striped border">
        <thead>
            <tr>
                <th>Id</th>
                <th>Owner</th>
                <th>Deity</th>
                <th>Title</th>
                <th>Body</th>
                <th>Created</th>
                <th>Modified</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var note in Model)
            {
                <tr>
                    <td>@note.NoteId</td>
                    <td>@note.Owner</td>
                    <td>@note.DeityId</td>
                    <td>@note.Title</td>
                    <td>@note.Body</td>
                    <td>@note.CreatedUtc</td>
                    <td>@note.ModifiedUtc</td>
                    <td class="text-end">
                        <a asp-action="Details" asp-route-id="@note.NoteId" class="btn btn-sm btn-primary">Details</a>
                        <a asp-action="Edit" asp-route-id="@note.NoteId" class="btn btn-sm btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@note.NoteId" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="Note" asp-action="Create" class="btn btn-sm btn-success">Create New Note</a>